@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2 {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 173 58% 20%;

    --card: 0 0% 100%;
    --card-foreground: 173 58% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 173 58% 20%;

    --primary: 173 58% 39%;
    --primary-foreground: 0 0% 100%;

    --secondary: 173 58% 95%;
    --secondary-foreground: 173 58% 20%;

    --muted: 173 58% 95%;
    --muted-foreground: 173 58% 40%;

    --accent: 173 58% 90%;
    --accent-foreground: 173 58% 30%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 173 58% 90%;
    --input: 173 58% 90%;
    --ring: 173 58% 39%;

    --radius: 0.75rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer components {
  .invert-0 {
    filter: invert(0);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
